<a href="https://colab.research.google.com/github/studentsept/-Project-Solution-C116/blob/main/PRO_C134_Project_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/procodingclass/PRO-Stars-Dataset-CSVs

Cloning into 'PRO-Stars-Dataset-CSVs'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 26 (delta 10), reused 12 (delta 5), pack-reused 0
Unpacking objects: 100% (26/26), 27.75 KiB | 3.08 MiB/s, done.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("/content/PRO-Stars-Dataset-CSVs/star_with_gravity.csv")

df.head()

   Unnamed: 0       Star_name    Distance  Mass  Radius     Gravity
0           0             Sun    0.000016   1.0    1.00  274.269161
1           1          Sirius    8.600000   2.1    1.71  196.971800
2           2         Canopus  310.000000  15.0   71.00    0.816115
3           3  Alpha Centauri    4.400000   1.1    1.20  209.511165
4           4        Arcturus   37.000000   1.1   26.00    0.446296

In [4]:
#filtering the stars based on distance
bools =[]
for d in df.Distance:
    if d<=100:
        bools.append(True)
    else:
        bools.append(False)

In [5]:
is_dist = pd.Series(bools)

In [6]:
is_dist.head()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [7]:
star_dist=df[is_dist]

In [8]:

star_dist.reset_index(inplace=True,drop=True)
star_dist.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3           4        Arcturus  37.000000   1.1   26.00    0.446296
4           5            Vega  25.000000   2.2    2.70   82.769843

In [9]:
star_dist.shape

(159, 6)

In [10]:
#keep the stars having gravity similar to sun
gravity_bool = []
for g in star_dist.Gravity:
    if g<=350 and g>=150:
        gravity_bool.append(True)
    else :
        gravity_bool.append(False)

In [11]:
is_gravity = pd.Series(gravity_bool)

In [12]:
final_stars = star_dist[is_gravity]
final_stars.head()

    Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0            0             Sun   0.000016   1.0    1.00  274.269161
1            1          Sirius   8.600000   2.1    1.71  196.971800
2            3  Alpha Centauri   4.400000   1.1    1.20  209.511165
7           12          Altair  17.000000   1.8    1.80  152.371756
10          18       Fomalhaut  25.000000   1.9    1.80  160.836854

In [13]:
final_stars.shape

(21, 6)

In [14]:
final_stars.reset_index(inplace=True,drop=True)

In [15]:
final_stars.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3          12          Altair  17.000000   1.8    1.80  152.371756
4          18       Fomalhaut  25.000000   1.9    1.80  160.836854

In [16]:
final_stars.to_csv("filtered_stars.csv")